<div class='postContainer'>
  <div class='postHeader'>
    <div class='postHeaderLeft'>
      <p class='postSubheader'><%= current_user.username %></p>

      <a href='#'>
        <span class='postTitle'>Video</span>
      </a>
      <div class='postInfo'>
        <p class='postSubheader'><%= post.created_at.strftime("%B %d, %Y") %></p>
      </div>
    </div>

    <div class='postHeaderRight'>
      <img></img>
    </div>


  </div>

  <div class='postContent'>

    <div class='mediaWrap'>
      <% embeddable = get_embed_link(post.media_url).first %>
      <% if embeddable.html %>
       <%= embeddable.html.html_safe %>
      <% else %>
        <img src= 'https://s3-us-west-1.amazonaws.com/headsuplolimages/404error.bmp' alt='404 error try another URL'></img>
        <p>Try a different URL this one is BUSTED!</p>
      <% end %>
    </div>

    <div class='contentWrap'>
      <p class='postDescription'><%= post.description %></p>
    </div>

  </div>
</div>

<div class='postFooter'>
</div>