    <div class='avatarDisplay'>
      <a></a>
    </div>

    <div class='dashboardNavBarButtonWrapper row'>
      <nav class='dashboardNavbarButtons xs-col-4'>
        
        <a class='newPostButton' id='newPostText' href='#'>
          <icon></icon>
          <span class='newPostLabel'>Text</span>
        </a>

        <a class='newPostButton' data-toggle='modal' data-target='#newPostModal' id='newPostPhoto' href='#'>
          <icon></icon>
          <span class='newPostLabel'>Photo</span>
        </a>

        <a class='newPostButton' data-toggle='modal' data-target='#newPostModal' id='newPostQuote' href='#'>
          <icon></icon>
          <span class='newPostLabel'>Quote</span>
        </a>

        <a class='newPostButton' data-toggle='modal' data-target='#newPostModal' id='newPostLink' href='#'>
          <icon></icon>
          <span class='newPostLabel'>Link</span>
        </a>
        
        <a class='newPostButton' data-toggle='modal' data-target='#newPostModal' id='newPostChat' href='#'>
          <icon></icon>
          <span class='newPostLabel'>Chat</span>
        </a>

        <a class='newPostButton' data-toggle='modal' data-target='#newPostModal' id='newPostAudio' href='#'>
          <icon></icon>
          <span class='newPostLabel'>Audio</span>
        </a>

        <a class='newPostButton' data-toggle='modal' data-target='#newPostModal' id='newPostVideo' href='#'>
          <icon></icon>
          <span class='newPostLabel'>Video</span>
        </a>

      </nav>
    </div>
  </div>