<ul class='blogControls'>
  <li class='blogDropDownSelector'>
  </li>
  <li class='blogPostsControl'>
    <a href='#' class='blogPostsLink'></a>
  </li>
  <li class='Followers'>
    <a href='#' class='followersLink'></a>
  </li>
</ul>