

<h1 class='splashLogoHeader'>
	<a class='splashLogo'>HeadsUpLol</a>
</h1>

<form id='signInForm' action='<%= session_url %>' method='POST'>
  <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>

  <div class='signInFormInputsWrapper'>
    <input type="text" class='usernameInput' name="user[username]" id="user_username" placeholder='Username' required>

    <input type="password" class='passwordInput' name="user[password]" id="user_password" placeholder='Password' required>
  </div>

  <input type='submit' class='signInButton' value='Log In'>
</form>

