<div class='content container-fluid'>
  <div class='signInFormWrapper absoluteCenter'>
  	<%= render "sessions/form" %>
  	<%= render "sessions/auto_sign_in" %>
  </div>


  <a class=signupLinkWrapper href='<%= new_user_url %>'>
  </a>
  <span class='signupText'>
    Sign Up
  </span>
</div>
