
  <div class='postHeader'>
    <div class='postHeaderLeft'>
      <p class='postSubheader'><%= current_user.username %></p>

      <a href='#'>
        <span class='postTitle'>Quote</span>
      </a>
      <div class='postInfo'>
        <p class='postSubheader'><%= post.created_at.strftime("%B %d, %Y") %></p>
      </div>
    </div>

    <div class='postHeaderRight'>
      <img></img>
    </div>
  </div>

  <div class='postContent'>

    <div class='mediaWrap'>
    </div>

    <div class='contentWrap'>
      <div class='quoteWrapper'>
        <span class='quote'>&#8220;<%= post.caption %>&#8221;</span>
      </div>
      <div class='attributionWrapper'>
        <span class='attribution capitalize'><%= post.description %></span>
      </div>
    </div>

  </div>

  <div class='postFooter'>
  </div>
