  <div class='postHeader'>
    <div class='postHeaderLeft'>
      <p class='postSubheader'><%= current_user.username %></p>

      <a href='#'>
        <span class='postTitle'>Photo</span>
      </a>
      <div class='postInfo'>
        <p class='postSubheader'><%= post.created_at.strftime("%B %d, %Y") %></p>
      </div>
    </div>

    <div class='postHeaderRight'>
      <img></img>
    </div>
  </div>

  <div class='postContent'>

    <div class='mediaWrap'>

    </div>

    <div class='contentWrap'>
      <a href='#' class='postPictureLink'>
        <img class='postPicture' href='#'>
      </a>
      <p class='postDescription'>
        <%= post.description %>
      </p>
    </div>

  </div>

  <div class='postFooter'>
  </div>




