
<input type='hidden' id='blogIdInputField' name='post[blog_id]' value='<%= @blogId %>'>
<input type='hidden' name='post[post_type]' value='Link'>


<a href='#'>
  <div class='pictureDragAndDropInput'>
    <input type=filepicker-dragdrop class='pictureDragAndDropInput'>
  </div>
</a>