  <div class='postHeader'>
    <div class='postHeaderLeft'>
      <p class='postSubheader'><%= current_user.username %></p>

      <a href='#'>
        <span class='postTitle'>Chat</span>
      </a>
      <div class='postInfo'>
        <p class='postSubheader'><%= post.created_at.strftime("%B %d, %Y") %></p>
      </div>
    </div>

    <div class='postHeaderRight'>
      <img></img>
    </div>
  </div>

  <div class='postContent'>

    <div class='mediaWrap'>
    </div>

    <div class='contentWrap'>

      <div class='postCaption'>
        <%= @markdown.render(post.caption).html_safe %>
      </div>
    </div>

  </div>

  <div class='postFooter'>
  </div>