  <div class='mainHeader'>
    <div class='headerIcon'>
    </div>
    <div class='headerNavigationWrapper'>
      <div class='headerMainNavbar'>
        <% if current_user %>

          <div class='homeButtonWrapper'>
            <a href='/dashboard'>
              <span class='homeIcon glyphicon glyphicon-home'></span>
            </a>
          </div>

          <div class='optionsButtonWrapper'>
            <a href='#'>
              <span class='optionsIcon glyphicon glyphicon-cog'></span>
            </a>
          </div>

          <div class='logoutButtonWrapper'>
            <%= button_to "", session_url, {method: :delete, class: 'logoutButton glyphicon glyphicon-off'} %>
            <span class='logoutIcon glyphicon glyphicon-off'><span>
          </div>

        <% else %>
        <% end %>
      </div>
    </div>


  </div>