  <div class='mainHeader'>
    <div class='headerIcon'>
    </div>
    <div class='headerNavigationWrapper'>
      <div class='headerMainNavbar'>
        <% if current_user %>
          <a href='/dashboard'>
            <span class='glyphicon glyphicon-home'></span>
          </a>
          <a href='#'>
            <span class='glyphicon glyphicon-cog'></span>
          </a>
          <%= button_to "", session_url, {method: :delete, class: 'logoutButton glyphicon glyphicon-off'} %>
        <% else %>
        <% end %>
      </div>
    </div>


  </div>