<div class='blogControlsPanel panel'>
  <ul class='blogControls'>
    <div class='blogSelectorWrapper dropdown'>
      <button class='btn dropdown-toggle sr-only' type='button' data-toggle='dropdown'>
        <%= current_user.selected_blog.title %>
        <span class='caret'></span>
      </button>
      <button class='blogSelectorButton btn dropdown-toggle' type='button' data-toggle='dropdown'>
        <%= current_user.selected_blog.title %>
        <span class='caret'></span>
      </button>
      <ul class='blogDropDownSelector dropdown-menu' role='menu' href='#'>
        <% blogs.each do |blog| %>
          <li class='blogSelectionListItem' role='presentation'>
            <a class='blogSelectionText' role='menuitem' tabindex='-1' href='#'>
              <%= blog.title %>
            </a>
          </li>
        <% end %>
      </ul>
    </div>
    <li class='blogPostsControl'>
      <a href='#' class='blogPostsLink'>
        Posts
      </a>
    </li>
    <li class='followersListItem'>
      <a href='#' class='followersLink'>Followers</a>
    </li>
    <li class='activityListItem'>
      <a href='#' class='activityLink'>Activity</a>
    </li>
  </ul>