<form id='newTextPostForm'>
  <label for='post_title'>
    Title
  </label>
  <input type='text' name='post[title]' id='postTitleInput'>
  <label for='post_description'>
  </label>
  <textarea name='post[description]' id='postDescriptionInput'>
  </textarea>
</form>