// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'bootstrap';

//----------------------------------Bootstra styling---------------------------------//


//----------------------------------Input form Styling-------------------------------//

#postCaptionInput{
  color: black;

  height: 100px;
  width: 440px;
}

#postDescriptionInput{
  color: black;
  height: 100px;
  width: 440px;
}

#postQuoteInput{
  color: black;
  height: 100px;
  width: 440px;
}

//----------------------------------Output Display Styling-------------------------------//

//                                    Everything Wrapper                                  //



body, .everythingWrapper{
  min-height: 100%;
}

html, body{
  height: 100%;
}

//                                    Modal Post Input                                    //


.modal-footer.btn-primary{
  background-color: red;
}

div.modal-content{
  width: 540px;
}

div.modal-footer{
  background-color: #222222;
}

div.modal-header{
  background-color: #222222;
}


div.markItUpContainer{
  background-color: #F7F7F7;
  width: 498px;
}

div > textarea{
  color: black;
}

.modal{
  overflow: hidden;
  margin-right: 0 !important;
}

#newPostForm > input{
  color: black;
}


//                                       Page                                             //



//                                     Header Nav Bar                                     //


.headerNavigationWrapper{
  margin: 0 auto;
  padding-right: 30px;
  width: 930px;
}





//                                       Post Nav Bar                                     //

a.newPostButton{
  height: 90px;
  width: 76px;

}

.newPostLabel{
  bottom: 5px;
}

.newPostButtonWrapper{
  display: inline-block;
  height: 90px;
  width: 76px;
}

#textNewPostButton{
  margin-left: 50px;
}


//                                       Right Nav Bar                                    //


.blogControls{
  background-color: #323232;
  border-radius: 6px;
}

.blogControlsPanel.panel{
  background-color: #222222;

  margin-bottom: 8px;
}





//                                       PostBar                                          //

a.disabled {
  text-decoration: none;
}

.formLoading{
	background-image: 'assets/ajax-loader.gif';
	background-position: center;
	background-repeat: no-repeat;
	height: 100px;
}

.newPostButton.disabled > span{
  color: gray;
  pointer-events: none;
}


//                                         Posts                                           //

.avatarDisplay{
  display: inline-block;
  margin-left: -85px;
  position: absolute;
  height: 65px;
  width: 65px;
}

.avatarImage{
}

.blogLink{
  display: inline;
}

.btn{
  color: red;
}

.dashboardContent{
  background-color: rgba(0, 0, 0, 0.0);
  width: 900px;
}

.dashboardMainView{
  background-color: rgba(0, 0, 0, 0.0);
  width: 900px;
}

.dashboardNavbarButtons{
  height: 100px;
  width: 615px;
}

.dashboardRightNavbar{
  background-color: #222222;

}
.dashboardPostsNavbar{
  margin-bottom: 20px;
}

div{
  color: #9c9c9c;
  font:14px/20px "Helvetica Neue", HelveticaNeue, arial, sans-serif;
}

div.headerNavigationWrapper{
  background-color: #222222;
}

div.mainContentWrapper{
  background-color: rgba(0, 0, 0, 0.0);
}

div.modal-body{
  background-color: #323232;
}

div.modalWrapper{
  background-color: #333333;
  border-radius: 6px;
}

.everythingWrapper{
  background-color: #222222;
}

.fullPostWrapper{
  padding-bottom: 15px;
  padding: 15px;
}

html{
  background-color: #222222;
}

iframe.embedly-embed{
  margin: 0 auto;
}

iframe.markItUpPreviewFrame{
  height: 112px;
  width: 452px;
}

.markItUpContainer{
  width: 454px;
}

.mainContentWrapper{
  width: 900px;
}

#newPostForm{
  margin-left: auto;
  margin-right: auto;
  width: 498px;
}

.panel.col-xs-9{
  background-color: #222222;
  border: 0px;
  border-top-right-radius: 0px;
}

.postContainer{
  background-color: #333333;
  border-radius: 6px;
  margin-bottom: 20px;
}

.postContent{
  padding-left: 20px;
}

.postFooter{
  background-color: #3a3a3a;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  height: 45px;
}

.postInfo p{
  color: gainsboro;
  display: inline-block;
  font:13px/20px "Helvetica Neue", HelveticaNeue, arial, sans-serif;
  padding-left: 10px;
  opacity: .6;
}

.postHeader{
  display: inline-block;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-left: 20px;
}

.postHeaderRight{
  display: inline-block;
}

#postMediaInput{
  padding-left: 10px;
  padding-right: 10px;
  height: 38px;
  width: 498px;
}

.postSubheader{
  display: inline-block;
  margin: 0px;
}

#postTitleInput{
  padding-left: 10px;
  padding-right: 10px;
  width: 498px;
  height: 38px;
}

#postUrlInput{
  padding-left: 10px;
  padding-right: 10px;
  width: 498px;
  height: 38px;
}

span.postTitle{
 color: #FFDB4C;
 display: block;
 font:22px/30px "Helvetica Neue", HelveticaNeue, arial, sans-serif;
 padding-top: 10px;

}


//                                       Chat Posts                                        //


#markItUpPostCaptionInput{
  margin: 0;
}

#postCaptionInput{
  padding-left: 10px;
  padding-right: 10px;
  width: 498px;
}

.postCaption > p > strong{
  font-size: 1.2em;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}






//                                        QuotePost                                        //


.attributionWrapper{
  padding-bottom: 10px;
  padding-left: 20px;
}

.quoteWrapper{
  padding-bottom: 10px;
}

#markItUpPostDescriptionInput{
  margin: 0 auto;

}

#postDescriptionInput.markItUpEditor{
  margin: 7px auto;
  padding-left: 10px;
  padding-right: 10px;
  resize: vertical;
  width: 498px;
}

#postQuoteInput{
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  resize: vertical;
  width: 498px;
}

span.quote{
  font:36px/42px georgia, serif;
}
span.attribution.capitalize{
  font:16px/20px "Helvetica Neue", HelveticaNeue, arial, sans-serif;
  text-transform: capitalize;
}

span.attribution:before{
  content: "- ";
}




//                                       TextPost                                          //

.markItUpEditor{
  max-width: 100%;
}


