// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//----------------------------------Input form Styling-------------------------------//

#postCaptionInput{
  height: 100px;
  width: 440px;
}

#postDescriptionInput{
  height: 100px;
  width: 440px;
}

#postQuoteInput{
  height: 100px;
  width: 440px;
}

//----------------------------------Output Display Styling-------------------------------//


//                                    Modal Post Input                                    //

div.modal-footer{
  background-color: #222222;
}

div.modal-header{
  background-color: #222222;
}

div.markItUpContainer{
  background-color: #F7F7F7;
}

//                                       Page                                             //





//                                       PostBar                                          //

a.disabled {
  text-decoration: none;
}

.formLoading{
	background-image: 'assets/ajax-loader.gif';
	background-position: center;
	background-repeat: no-repeat;
	height: 100px;
}

.newPostButton.disabled > span{
  color: gray;
  pointer-events: none;
}


//                                         Posts                                           //

.container.dashboardContent{
  background-color: #222222;
}

div{
  color: #FFFFFF;
  font:14px/20px "Helvetica Neue", HelveticaNeue, arial, sans-serif;
}

div.mainContentWrapper{
  background-color: #222222;
}

div.headerNavigationWrapper{
  background-color: #222222;
}

div.modal-body{
  background-color: #323232;
}

html{
  background-color: #222222;
  foreground-color: #222222;
}

iframe.markItUpPreviewFrame{
  height: 112px;
  width: 452px;
}

.markItUpContainer{
  width: 454px;
}

#newPostForm{
  margin-left: auto;
  margin-right: auto;
}

.panel.col-xs-9{
  background-color: #222222;
  border: 0px;
  padding-left: 0px;
  padding-right: 0px;

}

.postContainer{
  background-color: #333333;
}

.postInfo p{
  color: gainsboro;
  font:13px/20px "Helvetica Neue", HelveticaNeue, arial, sans-serif;
}

span.postTitle{
 color: #FFDB4C;
 font:22px/30px "Helvetica Neue", HelveticaNeue, arial, sans-serif;
}






//                                        QuotePost                                        //


#markItUpPostDescriptionInput{
  margin: 0 auto;

}

#postDescriptionInput.markItUp{
  margin: 7px auto;
  resize: vertical;
  width: 450px;
}

#postQuoteInput{
  margin: 0 auto;
  resize: vertical;
}

span.quote{
  font:36px/42px georgia, serif;
}
span.attribution.capitalize{
  font:16px/20px "Helvetica Neue", HelveticaNeue, arial, sans-serif;
  text-transform: capitalize;
}

span.attribution:before{
  content: "- ";
}




//                                       TextPost                                          //

.markItUpEditor{
  max-width: 100%;
}


